
<div class="row">
    <div class="col-lg-6 col-md-offset-3 well">
        <h1><a href="/home/addCandidate">Add Candidate</a></h1>
        <br />
        <h1> <a href="/home/ViewPending">View Pending</a></h1>
        <br />
        <h1><a href="/home/ViewConfirmed">View Confirmed</a></h1>
        <br />
        <h1><a href="/home/ViewRefused">View Refused</a></h1>
    </div>
</div>
